<h1>TimeTracker</h1>
<img src="assets/DramaticGlasses.gif" alt="Kid dressed with a suit taking off his sunglasses in a super very dramatic way" />
<%= image_tag "DramaticGlasses.gif" %>
<p>Powered by myselft</p>
